[Desktop Entry]
Version=1.0
Type=Application
Name=2048
Comment=Classic Game of 2048 Made With RSGL
Exec=RSGL-2048.appImage
Icon=gnome-2048
Path=
Terminal=false
StartupNotify=false
Categories=Game;
